Package: com.chilaxan.cuboid
Name: Cuboid
Depends: mobilesubstrate, me.kritanta.liblayout
Conflicts: me.kritanta.homeplus
Version: 3.0.1
Architecture: iphoneos-arm
Description: Lightweight home screen layout manager.
Depiction: http://repo.kritanta.me/depictions/?id=com.chilaxan.cuboid
Maintainer: chilaxan & Nepeta
Author: chilaxan & Nepeta
Section: Tweaks (Nepeta)
Installed-Size: 9856
